<?xml version="1.0" encoding="utf-8"?>
<!-- Sadece debug derlemesi: yerel test sunucusuna (http://10.0.2.2) baglanabilmek icin.
     Release derlemesi bu dosyayi almaz, duz HTTP'ye kapali kalir. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:usesCleartextTraffic="true" />

</manifest>
